<!-- FOOTER -->
<div class="footer">
    <img src="../static/imagenes/barra-saludable_pequeña.jpg" alt="...">
    <div class="social"> 
      <a href="https://twitter.com" class="social-link twitter" target="_blank" ></a>
      <a href="https://facebook.com" class="social-link facebook" target="_blank" ></a>
      <a href="https://youtube.com" class="social-link youtube" target="_blank" ></a>
      <a href="https://linkedin.com" class="social-link linkedin" target="_blank" ></a>
    </div>
  </div>