 <!-- Menu header -->
 <header class="header"> 
    <div class="wrapper">      
     <div class="menu_bar">
       <a href="#" class="bt-menu"> <span class="icon-menu"></span>NUTRIOLOGA</a>
     </div>
     <div class="logo"> NUTRIOLOGA </div> 
     <nav>
         <a class="link" href="{{url_for('index')}}">inicio</a>
         <a class="link" href="{{url_for('contacto')}}">Contacto</a>
         <a class="link" href="{{url_for('nutriologa')}}">Quien soy</a>
         <a class="link" href="{{url_for('cita')}}">Reserva tu cita</a>
     </nav>
    </div> 
 </header>