{% extends 'base.html' %}

{% block content %}

  <!-- Imagen Principal -->
  <div class="wrapper">
    <section  class="contenido">
      <img src="../static/imagenes/Frutos-Rojos.jpg" alt="">
    </section>
  </div>
  <!-- Contenido texo -->
  <div class="wrapper">
    <div class="Calendario">
      <iframe src="https://calendar.google.com/calendar/embed?src=ohvuqrjq3t6t2gqlganq03c05s%40group.calendar.google.com&ctz=America%2FMexico_City" style="border: 0" width="800" height="600" frameborder="0" scrolling="no"></iframe>  
    </div>
  </div>


{% endblock content %}


